@*@CodeCopy*@
@{
    @using SnQMenu.AspMvc.Models.Modules.Common
    @model SnQMenu.AspMvc.Models.IdentityModel

    var viewBagWrapper = Model.ViewBagInfo;

    if (Model.GetType() == typeof(SnQMenu.AspMvc.Models.Persistence.Food.MenuSection))
    {
        var action = Url.Action("Index", "MenuSectionMenuItems");

        @await Html.PartialAsync("../Shared/_CommandControl", Model)

        <a type="button" href="@action" class="btn btn-outline-secondary btn-sm" style="margin: 0px 2px 2px 0px;" title="@viewBagWrapper.TranslateFor("MenuItems")"><i class="fas fa-list" aria-hidden="true"></i></a>
    }
    else
    {
        @await Html.PartialAsync("../Shared/_CommandControl", Model)
    }
}
