@*@CustomerCode*@
@{
    @model SnQMenu.AspMvc.Models.IdentityModel

    var viewBagWrapper = Model.ViewBagInfo;

    @await Html.PartialAsync("../Shared/_CommandControl", Model)
    if (Model is SnQMenu.AspMvc.Models.Persistence.Food.Menu menu)
    {
        var previewAction = Url.Action("Index", "MenuCards", new { guid = menu.Guid.ToString() });
        var sectionAction = Url.Action("Details", "MenuMenuSections", new { id = menu.Id });

        <a type="button" href="@previewAction" class="btn btn-outline-dark" style="margin: 0px 2px 2px 0px;" title="@viewBagWrapper.TranslateFor("MenuCards")"><i class="fa fa-eye" aria-hidden="true"></i></a>
        <a type="button" href="@sectionAction" class="btn btn-outline-secondary" style="margin: 0px 2px 2px 0px;" title="@viewBagWrapper.TranslateFor("MenuSections")"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
    }
}
